@charset "UTF-8";


@media screen and (min-width: 768px) {

    main{
        width: 768px;
        height: 300px;
    }

    main > div{
        width: 389px;
        height: 302px;
        transform: translate(381px);
        position: fixed;
        display: inline;
        background: url(../imagem/fotoEnt.jpeg) no-repeat fixed center center;
        background-size: cover;
        border-radius: 0px 20px 20px 0px;
    }
    section{
        width: 380px;
        height: 302px;
        padding-top: 20px;
        margin-right: 0px;
    }
    h1{
        font-size: 2em;
    }
    p{
        font-size: 1.1em;
        padding-bottom: 10px;
    }
    label{
        padding-left: 20px;
    }
    
}