@charset "UTF-8";

/* Mobile First */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;

}

html{
    height: 100vh;
    width: 100vw;
}

div{
    height: 30vh;
    background: url(../imagem/fotoEnt.jpeg) no-repeat fixed center center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
   
}

body{
    background-image: linear-gradient(to bottom, #8C67E6, #807EFC, #6786E6, #72B9FE);
}

main{

    background-color: white; 
    width: 60vw;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgb(57, 1, 105);
    border: 2px solid black;
}

article{
    width: auto;
    background-color: white;
    margin: 20px;
}
article#login h1{
    margin-top: -20px;
    font-family: 'Kanit', sans-serif;
    color: #3b2d60;
}
p{
    font-size: 0.9em;
    text-align: justify;
    text-indent: 10px;
   
}
label{
    font-family: 'Kanit', sans-serif;
    color: #3b2d60;
    margin-left: -8px;

    
}
article#dados{
    margin-top: -10px;
}
article#dados p{
    margin-bottom: 8px;
    margin-left: -20px;
    margin-right: -20px;
}
input[type=email]{
   margin-left: -1px; 
}
input[type=email], input[type=password] {
    border-radius: 4px;
    border: 2px solid #3b2d60;
    box-shadow: 0px 0px 2px #3b2d60;
    background-color: #916cf04d;
    
}
input[type=email]:hover, input[type=password]:hover{
    background-color: white;
} 
input[type=submit], input[type=button]{
    font-family: 'Kanit', sans-serif;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #3b2d60;
    color: #3b2d60;
    box-shadow: 0px 0px 2px #3b2d60;
    background-color: #916cf04d;
}
input[type=submit]:hover, input[type=button]:hover{
    background-color: #807EFC;
}


